<article class="blog-card group">
  {{ $image := .Params.image }}
  {{ if $image }}
    <a href="{{ .RelPermalink }}" class="blog-card-image-link">
      {{ partial "image" (dict "Src" $image "Context" .Page "Alt" .Title "Class" "blog-card-img") }}
    </a>
  {{ end }}
  <div class="blog-card-body">
    {{/* Category + Date Row */}}
    <div class="blog-card-meta">
      {{ $categories := .Params.categories }}
      {{ if $categories }}
        {{ range first 1 $categories }}
          <a href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}/" class="blog-card-category">
            {{ . | humanize }}
          </a>
        {{ end }}
      {{ end }}
      <span class="blog-card-date">
        <i class="fa-regular fa-calendar"></i>
        {{ time.Format "Jan 2, 2006" .PublishDate }}
      </span>
    </div>
    {{/* Title */}}
    <h4 class="blog-card-title">
      <a href="{{ .RelPermalink }}">
        {{ .Title }}
      </a>
    </h4>
    {{/* Excerpt */}}
    <p class="blog-card-excerpt">{{ .Summary | plainify | truncate 140 }}</p>
    {{/* Footer: Reading Time + Read More */}}
    <div class="blog-card-footer">
      <span class="blog-card-read-time">
        <i class="fa-regular fa-clock"></i> {{ .ReadingTime }} min read
      </span>
      <a class="blog-card-link" href="{{ .RelPermalink }}">
        Read More <i class="fa-solid fa-arrow-right"></i>
      </a>
    </div>
  </div>
</article>
